
.header-div {
	background-color: #535993;
	text-align: center;
	padding-top: 1px;
	padding-bottom: 1px;
	margin-bottom: 10px;
}

.header-div > h1 {
	font-size: 60px;
	color: white;
	margin-bottom: 0;
}

.header-div > h3 {
	margin-top: 0px;
	padding-top: 15px;
	padding-bottom: 15px;
	font-style: italic;
	color: #DDDFF0;
}

.text-div {
	padding-top: 15px;
	padding-bottom: 30px;
	max-width: 700px;
	height: 200px;
	margin-left: auto;
	margin-right: auto;
}

textarea.form-control {
    direction: rtl;
	font-size: 18pt;
	resize: none;
	height: 100%;
}

.explanations {
	max-width: 600px;
	margin-left: auto;
	margin-right: auto;
	font-size: 16px;
	text-align: center;
	color: black;
}

.table-map {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	font-size: 14pt;
	width: 300px;
}

.modal-header {
	text-align: center;
}

.table-map th {
	text-align: center;
}

.social {
	padding-top: 30px;
	padding-bottom: 30px;
}

div.suggestions {
    position: absolute;
    margin-top: -22px;
    margin-left: 5px;
    font-size: 18pt;
}

.btn.btn-default.letter {
	font-size: 18pt;

	padding-top: 1px;
	padding-bottom: 1px;
	padding-left: 6px;
	padding-right: 6px
}

.selected {
	background-color: #EDEDED;
}

.no-break {
	white-space: nowrap;
}
